body{
    margin: 0;
    padding: 0;
    background-color: #202020;
}
.navbar{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        font-size: 32px;
        font-weight: 400;
        color: white;
        font-family: Georgia, serif;
        margin-left: 2rem;
    }
    input{
        margin-right: 2rem;
        width: 10rem;
        height: 2rem;
        border-radius: 0.5rem;
        outline: none;
        border: none;
        padding-left:1rem ;
    }
    &__links{
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        list-style-type: none;
        margin-left: 2rem;
        a{
            text-decoration: none;
            color: white;
            margin: 0 1rem;
          }
    }
}
.container{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__card{
        width: 18rem;
        height: 30rem;
        margin-bottom: 1.5rem;
        color:white;
        position: relative;
        
        img{
            width: 16rem;
            height: 24rem;
            
        }
        span{
            border: 1px dashed red;
            border-radius:50px;
            padding:10px;
            position:absolute;
            z-index: 1;
            left: 0.5rem;
            top: 0.5rem;
        }
        p{
           color: yellow;
           margin-top: 0.5rem;
        }
        h4{
            margin-bottom: 0;
        }
    }
}